SECRET_KEY=k4lp4vr1ksh4_secure_key_99
JWT_SECRET_KEY=k4lp4vr1ksh4_jwt_private_88
DATABASE_URL=sqlite:///attendance.db

SMS_PROVIDER=twilio
TWILIO_ACCOUNT_SID=AC3beaa63e27a074ca42d638febc202838
TWILIO_AUTH_TOKEN=0e4c922e8d47f2c185942914c1de26cd
TWILIO_PHONE_NUMBER=+18392573367

# OR for India:
# SMS_PROVIDER=fast2sms
# FAST2SMS_API_KEY=your_key_here

ATTENDANCE_THRESHOLD=75
